@model ASPdotNET_MVC_Tutorial.Models.Item

@{
	ViewData["Title"] = "Delete";
}

<header>
	<h3>Are you sure you want to delete this item?</h3>
</header>

<p>@Model.Name</p>
<p>@Model.Price €</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class="btn btn-danger" value="Delete" />
</form>